{% extends 'user/user_base.html' %}{% load static %}
<html dir="ltr" lang="en">

{% block body %}
<style>
    .welcome {
        width: 85%;
        background: ghostwhite;
        border-radius: 2rem;
    }

    .break-all {
        word-break: break-all;
    }

    @media screen and (max-width: 575px) {
        .white-box {
            width: 90vw !important;
        }
    }
</style>

<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Project Details</h4>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row mt-3">
    <!-- Column -->

    
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-12 col-xlg-9 col-md-12 col-12 mb-5 pt-3">
        {% for x in project %}
        <div class="card mb-3 pt-3"
            style="background: white; width: 100%; border-radius: 1rem;box-shadow: rgb(23 24 25 / 45%) 0px 3px 3px;">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="text-center">
                        
                                <span style="text-align:center;color: #00ADB5;text-decoration:none;font-size:2.4rem">{{ x.projectname }}</span>
                    </div>
                    <div class="row mt-3">
                        
                        <div class="col-md-6 " style="background-color:lightcyan">
                            <div class=" m-5">
                        <div class=row>
                            <div class="col-md-6"><h4>Platform</h4></div>
                            <div class="col-md-6">:  {{x.selectplatform}}</div>
                        </div>
                        <div class="row">
                        <div class="col-md-6"><h4>Language</h4></div>
                            <div class="col-md-6">:  {{x.languageused}}</div>
                        </div>
                        <div class="row">
                        <div class="col-md-6"><h4>Software</h4></div>
                            <div class="col-md-6">:  {{x.softwares}}</div>
                        </div>
                        <div class="row">
                        <div class="col-md-6"><h4>Database</h4></div>
                            <div class="col-md-6">:  {{x.database}}</div>
                        </div>
                        <div class="row">
                        <div class="col-md-6"><h4>User Interface</h4></div>
                            <div class="col-md-6">:  {{x.userinterface}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"><h4>Module Details</h4></div>
                                    <div class="col-md-6">:  {{x.moduledetails}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6"><h4>Price</h4></div>
                                            <div class="col-md-6">:  {{x.price}}</div>
                                            </div>
                        </div></div>
                        <div class="col-md-6">
                            <video class="img-responsive w-100 " controls="controls" style="border-radius: 10px; height:300px;"> 
                                <source src="{{ i.uploadvideo.url }}" type="video/mp4"> 
                            </video>  
                        </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-10 col-md-10 col-sm-6 col-6"></div>
                    <div class="col-lg-2 col-md-2 col-sm-6 col-6">
                        <a href="{% url 'deleteprojects' x.id  %}">
                            <button class="btn btn-primary" style="background-color:red;">Delete</button>
                        </a>
                    </div> -->
                </div>
                <hr>
                <div class="row">
                    <div class="container ml-5">
<div><h4>Description:</h4></div></div>
                            <div class="row ">
                                <div class="container ml-5">
                                {{ x.shortdescription }}
                            </div></div>
                        </div>

                        <div class="row mt-3">
                            <div class="container ml-5">
        <div><h4>Abstract:</h4></div></div>
                                    <div class="row">
                                        <div class="container ml-5">
                                        {{ x.projectabstract }}
                                    </div></div>
                                </div>

                                <div class="row mt-3">
                                    <div class="container ml-5">
                <div><h4>Download PDF file:</h4></div></div>
                                            <div class="row">
                                                <div class="container ml-5">
                                                    <a href="{{ x.uploadpdf.url }}" download="{{x.projectname}}">
                                                        <div class="badge badge-outline-success text-dark">Download</div>
                                                    </a>
                                            </div></div>
                                        </div>

                                <div class="row m-2 mt-5">
                                    <div class="col-md-3">
                                        <img src="{{x.uploadscreenshots.url}}" class="w-100 h-100">
                                    </div>
                                    <div class="col-md-3">
                                        <img src="{{x.uploadscreenshots1.url}}" class="w-100 h-100">
                                    </div>
                                    <div class="col-md-3">
                                        <img src="{{x.uploadscreenshots2.url}}" class="w-100 h-100">
                                    </div>
                                    <div class="col-md-3">
                                        <img src="{{x.uploadscreenshots3.url}}" class="w-100 h-100">
                                    </div>
                                </div>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Column -->
</div>

<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="{% static 'plugins/bower_components/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/app-style-switcher.js '%}"></script>
<script src="{% static 'plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js' %}"></script>
<!--Wave Effects -->
<script src="{% static 'js/waves.js' %}"></script>
<!--Menu sidebar -->
<script src="{% static 'js/sidebarmenu.js' %}"></script>
<!--Custom JavaScript -->
<script src="{% static 'js/custom.js' %}"></script>
<!--This page JavaScript -->
<!--chartis chart-->
<script src="{% static 'plugins/bower_components/chartist/dist/chartist.min.js' %}"></script>
<script
    src="{% static 'plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js' %}"></script>
<script src="{% static 'js/pages/dashboards/dashboard1.js' %}"></script>



{%endblock%}